body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#area-de-novo-produto {
	display : none;
}

.logados {
	float: left;
}

.borda1 {
	border-style: dashed;
	border-width: 1px;
}

.fundo {
	background: #f5f5f5;
}

.hovering{
    background: #ccc;
}
